.ac-header {
	display: flex;
	align-items: center;
	.ac-header-logo {
		flex-basis: auto;
		flex-grow: 0;
		img {
			max-width: 200px;
		}
	}
	.ac-search-form {
		flex: 2;
		margin: 0 30px;
	}
	.pull-right {
		flex-grow: 0;
	}
}