{% block title %}Navigation{% endblock %}
{% extends "layouts/default.njk" %}
{% set active_page = 'navigation' %}
{% block content %}
<h1>Navigation</h1>

<section class="margin-bottom-large">
  <h2>Breadcrumbs</h2>

  <ol class="breadcrumb">
    <li><a href="">Home</a></li>
    <li><a href="">Library</a></li>
    <li class="active">Data</li>
  </ol>
</section>

<section class="margin-bottom-large">
  <h2>Pagination</h2>

  <nav>
    <ul class="ac-pagination">    
      <li class="disabled"><a href="">First</a></li>
      <li><a href="">Prev</a></li>
      <li><a href="">1</a></li>
      <li><a href="">2</a></li>
      <li class="active"><a href="">3</a></li>
      <li><a href="">4</a></li>
      <li><a href="">5</a></li>
      <li><a href="">Next</a></li>
      <li><a href="">Last</a></li>
    </ul>
  </nav>
</section>

<section class="margin-bottom-large">
  <h2>Pager</h2>
  <nav>
    <ul class="ac-pager">
      <li class="pull-left"><a href="#" class="btn btn-default ac-btn-image-left">Older</a></li>
      <li class="pull-right"><a href="#" class="btn btn-default ac-btn-image-right">Newer</a></li>
    </ul>
  </nav>
</section>

<section class="margin-bottom-large">
  <h2>Accordion</h2>
  <div class="ac-accordion" id="accordion" role="tablist" aria-multiselectable="true">
    <div>
      <div class="ac-accordion-title" role="tab" id="headingOne">
        <h2>
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Collapsible Group Item #1</a>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="ac-accordion-content">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="ac-accordion-title" role="tab" id="headingTwo">
        <h2>
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Collapsible Group Item #2</a>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="ac-accordion-content">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
      </div>
    </div>

    <div>
      <div class="ac-accordion-title" role="tab" id="headingThree">
        <h2>
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Collapsible Group Item #3</a>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="ac-accordion-content">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
        </div>
      </div>
    </div>
    
  </div>
</section>

<section class="margin-bottom-large">
  <h2>Tabs</h2>

  <div class="ac-tabs">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs ac-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
      <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
      <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
      <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content padding-all-medium">
      <div role="tabpanel" class="tab-pane active" id="home">home</div>
      <div role="tabpanel" class="tab-pane" id="profile">profile</div>
      <div role="tabpanel" class="tab-pane" id="messages">messages</div>
      <div role="tabpanel" class="tab-pane" id="settings">settings</div>
    </div>

  </div>
  <h2>Tabs vertical</h2>

  <div class="ac-tabs ac-tabs-vertical">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs ac-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab">Home</a></li>
      <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab" data-toggle="tab">Profile</a></li>
      <li role="presentation"><a href="#messages2" aria-controls="messages2" role="tab" data-toggle="tab">Messages</a></li>
      <li role="presentation"><a href="#settings2" aria-controls="settings2" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content padding-all-medium">
      <div role="tabpanel" class="tab-pane active" id="home2">home</div>
      <div role="tabpanel" class="tab-pane" id="profile2">profile</div>
      <div role="tabpanel" class="tab-pane" id="messages2">messages</div>
      <div role="tabpanel" class="tab-pane" id="settings2">settings</div>
    </div>

  </div>
</section>

<section class="margin-bottom-large">
  <h2>Pills</h2>

  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="">Home</a></li>
    <li role="presentation"><a href="">Profile</a></li>
    <li role="presentation"><a href="">Messages</a></li>
  </ul>
</section>
{% endblock %}